.button {
    display: inline-block;
    padding: 0.6em 2.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: #174795;
    
    font-weight: 900;
    color: #fff;
}

.button--small {
    font-size: em(20);
    padding: 1em 2em;
}
.button--tiny {
    font-size: em(12);
}
input.button {
    border: none;
    cursor: pointer;
}
input.button--registration {
    width: 100%;
    font-size: em(20);
    margin-top: 20px;
}
.button--bordered {
    color: $color-trietary;
    background: transparent;
    border: solid 2px $color-trietary;
    &:hover {
        color: #fff;
        background: $color-trietary;
    }
}

